{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": false,
        "targets": { "node": "8.9" }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
